<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8"/>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
<META HTTP-EQUIV="pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
<META HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1997 08:21:57 GMT">
<META HTTP-EQUIV="expires" CONTENT="0">

<meta name="misapplication-tap-highlight" content="no"/>

<meta name="HandheldFriendly" content="true"/>

<meta name="MobileOptimized" content="320"/>
<link rel="stylesheet" type="text/css" href="../css/vip.css" />
<script type="text/javascript" src="../js/jquery-3.1.1.min.js" ></script>
<script type="text/javascript" src="../js/vue.min.js" ></script>

<title>晓说</title>



</head>

<body>
	<div id="areaBook" class="area-book splitByMonth" style="display: none;">
		<div class="top-head"><a href="#" onClick="javascript :history.back(-1);"><span></span></a>晓说</div>
		<div class="author-content" v-for="author in authors"> 
			<a v-bind:href="author.url">
				<div class="image-content"> <img v-bind:src="author.imageUrl"></div>
				<div class="right-content"> 
					<div class="author-title">{{author.authorTitle}}</div>
					<div class="author-info">{{author.anthorInfo}}</div>
					<div class="content-info">{{author.contentInfo}}</div>
					<div class="goto">查看详情</div>
				</div>
				
				<div class="clearfix"></div>
			</a>
		</div>
	
		<div   v-if="isShowCodePopUp" style="position: fixed;width: 100%;height: 100%;background: #000; filter:alpha(Opacity=50); opacity: 0.5;top: 0;"></div>
		<div  class="popup" v-if="isShowCodePopUp"> 
		   <div class="content"> 
		   	<div class="head">糟糕了！好像过期了</div>
		   	<div class="info"> 
		   		<div class="the-info-content">分享到朋友圈获得38个赞联系微信18358597258获取！！</div>
		   		
		   		<input v-model="theKey" />
		   		<div class="confirm-button" @click="activate()">输入激活码</div>
		   	</div>  
		   </div>
		</div>

	</div>
	
	
	
	<script>
		window.onload = function(){
		var areaBookApp = new Vue({
			el:'#areaBook',
			data:{
				isShowPlay:false,
				isShowCodePopUp:false,
				theKey:'',
				voiceUrl:'',
				authors:[
				    {url:"xiaoshuo1.html",imageUrl:"../img/xiaoshuo.jpg",authorTitle:"晓说2017",anthorInfo:"晓说2017 世界很大却又很小",contentInfo:"路走了48年 方向却不止一边"},
			        {url:"xiaoshuo2.html",imageUrl:"../img/xiaoshuo.jpg",authorTitle:"晓说第四季",anthorInfo:"晓说第四季 世界很大却又很小",contentInfo:"路走了48年 方向却不止一边"},
			        {url:"xiaoshuo3.html",imageUrl:"../img/xiaoshuo.jpg",authorTitle:"晓说第三季",anthorInfo:"晓说第三季 世界很大却又很小",contentInfo:"路走了48年 方向却不止一边"},
			        {url:"xiaoshuo4.html",imageUrl:"../img/xiaoshuo.jpg",authorTitle:"晓说第二季",anthorInfo:"晓说第二季 世界很大却又很小",contentInfo:"路走了48年 方向却不止一边"},
			        {url:"xiaoshuo5.html",imageUrl:"../img/xiaoshuo.jpg",authorTitle:"晓说第一季",anthorInfo:"晓说第一季 世界很大却又很小",contentInfo:"路走了48年 方向却不止一边"},
			        ]
			},
		    created:function () {
                    $('#areaBook').show();
//		    	    var dt = localStorage.getItem("xiaoshuo");
//		    	    console.log(dt)
//			        var data = new Date();
//			        var regeditTime = data.getTime();
//			       
//			        if(dt==null){
//			        	localStorage.setItem("xiaoshuo",regeditTime);
//			        }
//			        else{
//			        	var nowT= data.getTime();
//			        	pastT=nowT-dt;
//			        	//432000000毫秒=5天
//			        	if(pastT<=4320){
//			//           alert(pastT);
//			//           alert("没过期");
//			        	}else{
//			            this.isShowCodePopUp=true;
//					             
//			        	}
//			        }
		    },
			methods:{
				    activate:function(){
				   	var dd=this.theKey;
					for(i=0;i<dd.length;i++){
				   
				    	if(dd.charAt(0)=='y'&&dd.charAt(1)=='x'&&dd.charAt(dd.length-1)=="f"){
				//  		alert("22")
				          localStorage.setItem("xiaoshuo","9904624053231");
				           this.isShowCodePopUp=false;
				    		
				    	}
				      }
				    }
				  
			}
		});
		}
	</script>
</body>

</html>

