<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8"/>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

<meta name="misapplication-tap-highlight" content="no"/>

<meta name="HandheldFriendly" content="true"/>

<meta name="MobileOptimized" content="320"/>
<link rel="stylesheet" type="text/css" href="../../css/vip.css" />
<script type="text/javascript" src="../../js/jquery-3.1.1.min.js" ></script>
<script type="text/javascript" src="../../js/vue.min.js" ></script>

<title>万维钢精英日课</title>



</head>

<body>
	<div id="wwgjyrk" class="splitByMonth" style="display: none;">
		<div class="top-head"><a href="#" onClick="javascript :history.back(-1);"><span></span></a>万维钢精英日课</div>
		<div class="title"><span></span>按月查询</div>
		<ul>
			
			<li><a href="wwgjyrk8.html">8月</a></li>
			<li><a href="wwgjyrk7.html">7月</a></li>
			<li><a href="wwgjyrk6.html">6月</a></li>
			<li><a href="wwgjyrk5.html">5月</a></li>
			<li><a href="wwgjyrk4.html">4月</a></li>
			<li><a href="wwgjyrk3.html">3月</a></li>
			<li><a href="wwgjyrk2.html">2月</a></li>
			<li><a href="wwgjyrk1.html">1月</a></li>
			<li><a href="wwgjyrk0612.html" style="color: #FF4500;">12月</a></li>
			
			<div class="clearfix"></div>
		</ul>
		<div class="book-detail" v-for="book in books">
			<div class="book-image"><img src="../../img/book-default.jpg"></div>
			<div class="book-right-content"> 
				<div class="book-title">{{book.bookName}}</div>
				<div class="book-info">{{book.info}}</div>
				<div class="book-time" @click="allArticle(book.url)">查看全文<span>{{book.time}}</span></div>
				<div class="play-button" v-if="book.voiceUrl!==''" @click="playBook(book.voiceUrl)">播放</div>
				<div class="play-button" v-if="book.voiceUrl==''" >该课无音频</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="bottom-content" v-if="isShowPlay">
			<audio autoplay="autoplay" controls="controls"loop="loop" preload="preload"
            v-bind:src="voiceUrl">

            </audio>

		</div>
	
		
		<div   v-if="isShowCodePopUp" style="position: fixed;width: 100%;height: 100%;background: #000; filter:alpha(Opacity=50); opacity: 0.5;top: 0;"></div>
		<div  class="popup" v-if="isShowCodePopUp"> 
		   <div class="content"> 
		   	<div class="head">糟糕了！好像过期了</div>
		   	<div class="info"> 
		   		<div class="the-info-content">分享到朋友圈获得38个赞联系微信18358597258获取！！</div>
		   		
		   		<input v-model="theKey" />
		   		<div class="confirm-button" @click="activate()">输入激活码</div>
		   	</div>  
		   </div>
		</div>	
		
	</div>
	
	
	
	<script>
		window.onload = function(){
		var wwgjyrkApp = new Vue({
			el:'#wwgjyrk',
			data:{
				isShowPlay:false,
				isShowCodePopUp:false,
				theKey:'',
				voiceUrl:'',
				books:[
			        {bookName:"万维钢精英日课09.1",voiceUrl:"http://l.na.ppsrc.com/9awGPZyAlcXHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},					 
				    {bookName:"万维钢精英日课09.2",voiceUrl:"http://l.na.ppsrc.com/OmJamFQTo-zHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.5",voiceUrl:"http://l.na.ppsrc.com/OmJamFQTo-zHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.6",voiceUrl:"http://l.na.ppsrc.com/dDX5A4GQovrHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.7",voiceUrl:"http://l.na.ppsrc.com/fcNH_4NwOcjHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.8",voiceUrl:"http://l.na.ppsrc.com/RrQhNV5BE0zHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"万维钢精英日课09.9",voiceUrl:"http://l.na.ppsrc.com/FJWr4uhoNfjHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					 { bookName:"万维钢精英日课09.12",voiceUrl:"http://l.na.ppsrc.com/mNBYW4-N-KHHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"万维钢精英日课09.13",voiceUrl:"http://l.na.ppsrc.com/L_1jO9ooXRzHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					 {bookName:"万维钢精英日课09.14",voiceUrl:"http://l.na.ppsrc.com/_ffO1U_q3ZfHrOczY7uuTg",url:"",info:"欢迎大家继续学习第二季",time:""},				
				    { bookName:"万维钢精英日课09.1-2",voiceUrl:"http://na.ppsrc.com/7PoLK0XTNNHHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"万维钢精英日课09.15",voiceUrl:"http://l.na.ppsrc.com/SH511511ST7HrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.16",voiceUrl:"http://l.na.ppsrc.com/ZiEdRY17PfPHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.20",voiceUrl:"http://l.na.ppsrc.com/lDF0t5HLBs_HrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.21",voiceUrl:"http://l.na.ppsrc.com/0gtHL4syTXDHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"万维钢精英日课09.22",voiceUrl:"http://l.na.ppsrc.com/pPMsclvxejnHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.23",voiceUrl:"http://l.na.ppsrc.com/HpX7w1aq-mrHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.26",voiceUrl:"http://l.na.ppsrc.com/TIaHfTwOYuTHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.27",voiceUrl:"http://l.na.ppsrc.com/-pT366SwSg3HrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.28",voiceUrl:"http://l.na.ppsrc.com/1k9uinikdmHHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"万维钢精英日课09.29",voiceUrl:"http://l.na.ppsrc.com/Q_XQyLt8sSvHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"万维钢精英日课09.30",voiceUrl:"http://l.na.ppsrc.com/0766qfNNoEXHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					
				]
			},
		    created:function () {
                    $('#wwgjyrk').show();
		    	    var dt = localStorage.getItem("wanweigang");
		    	    console.log(dt)
			        var data = new Date();
			        var regeditTime = data.getTime();
			      
			        if(dt==null){
			        	localStorage.setItem("wanweigang",regeditTime);
			        }
			        else{
			        	var nowT= data.getTime();
			        	pastT=nowT-dt;
			        	console.log(pastT)
			        	//432000000毫秒=5天
			        	if(pastT<=432000000){
			//           alert(pastT);
			//           alert("没过期");
			        	}else{
			            this.isShowCodePopUp=true;
					             
			        	}
			        }
		    },
			methods:{
				   allArticle:function(url){
				   	  var articleDetail="articleDetail.html"+"?"+"articleUrl="+url
				   	  window.location.assign(articleDetail); 
				      console.log(articleDetail)
				   },
				   playBook:function(voiceUrl){
				   	  this.isShowPlay=true;
				   	  this.voiceUrl=voiceUrl;
				   },
				   activate:function(){
				   	var dd=this.theKey;
					for(i=0;i<dd.length;i++){
				   
				    	if(dd.charAt(0)=='y'&&dd.charAt(1)=='x'&&dd.charAt(dd.length-1)=="f"){
				//  		alert("22")
				          localStorage.setItem("wanweigang","9904624053231");
				           this.isShowCodePopUp=false;
				    		
				    	}
				    }
				   }
			}
		});
		}
	</script>
</body>

</html>

