<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8"/>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

<meta name="misapplication-tap-highlight" content="no"/>

<meta name="HandheldFriendly" content="true"/>

<meta name="MobileOptimized" content="320"/>
<link rel="stylesheet" type="text/css" href="../css/vip.css" />
<script type="text/javascript" src="../js/jquery-3.1.1.min.js" ></script>
<script type="text/javascript" src="../js/vue.min.js" ></script>

<title>每天听本书</title>



</head>

<body>
	<div id="everyDayLesson" class="splitByMonth">
		<div class="top-head"><a href="#" onClick="javascript :history.back(-1);"><span></span></a>每天听本书</div>
		<div class="title"><span></span>按月查询</div>
		<ul>
			<li><a href="dayABook10.html">10月</a></li>
			<li><a href="dayABook9.html">9月</a></li>
			<li><a href="dayABook8.html">8月</a></li>
			<li><a href="dayABook7.html">7月</a></li>
			<li><a href="dayABook6.html">6月</a></li>
			<li><a href="dayABook5.html">5月</a></li>
			<li><a href="dayABook4.html">4月</a></li>
			<li><a href="dayABook3.html">3月</a></li>
			<li><a href="dayABook2.html">2月</a></li>
			<li><a href="dayABook1.html">2017年1月</a></li>
			<div class="clearfix"></div>
		</ul>
		<div class="book-detail" v-for="book in books">
			<div class="book-image"><img src="../img/book-default.jpg"></div>
			<div class="book-right-content"> 
				<div class="book-title">{{book.bookName}}</div>
				<div class="book-info">{{book.info}}</div>
				<div class="book-time" @click="allArticle(book.url)">查看全文<span>{{book.time}}</span></div>
				<div class="play-button" @click="playBook(book.voiceUrl)">播放</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="bottom-content" v-if="isShowPlay">
			<audio autoplay="autoplay" controls="controls"loop="loop" preload="auto"
            v-bind:src="voiceUrl">

            </audio>

		</div>
	
		
		<div   v-if="isShowCodePopUp" style="position: fixed;width: 100%;height: 100%;background: #000; filter:alpha(Opacity=50); opacity: 0.5;top: 0;"></div>
		<div  class="popup" v-if="isShowCodePopUp"> 
		   <div class="content"> 
		   	<div class="head">糟糕了！好像过期了</div>
		   	<div class="info"> 
		   		<div class="the-info-content">分享到朋友圈获得38个赞联系微信18358597258获取！！</div>
		   		
		   		<input v-model="theKey" />
		   		<div class="confirm-button" @click="activate()">输入激活码</div>
		   	</div>  
		   </div>
		</div>	
		
	</div>
	
	
	
	<script>
		window.onload = function(){
		var everyDayLessonApp = new Vue({
			el:'#everyDayLesson',
			data:{
				isShowPlay:false,
				isShowCodePopUp:false,
				theKey:'',
				voiceUrl:'',
				books:[
				    { bookName:"0228日本制造",voiceUrl:"http://l.na.ppsrc.com/X_P28Y7m_vrHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"0227精益工作法",voiceUrl:"http://l.na.ppsrc.com/RPxs3YgyA1DHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0226重病之王：癌症传",voiceUrl:"http://l.na.ppsrc.com/4R75KHndAnHHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0225第三种黑猩猩",voiceUrl:"http://l.na.ppsrc.com/HxGR2REuxQHHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0224魔鬼经济学4",voiceUrl:"http://l.na.ppsrc.com/hciaqU8cYUPHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0223魔鬼经济学3",voiceUrl:"http://l.na.ppsrc.com/7gfYtrFOFQrHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"0222魔鬼经济学2",voiceUrl:"http://l.na.ppsrc.com/_2m-k2-GtH_HrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0221魔鬼经济学1",voiceUrl:"http://l.na.ppsrc.com/Cur_9jRXd0nHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0220一分钟经理人",voiceUrl:"http://l.na.ppsrc.com/pTYwvMQrn03HrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0219让创意更有粘性",voiceUrl:"http://l.na.ppsrc.com/WmnLxel9jSPHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0218动物精神",voiceUrl:"http://l.na.ppsrc.com/nbmwdQBsvvDHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0217权力的悖论",voiceUrl:"http://l.na.ppsrc.com/Z0LzNsG-skbHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
				    { bookName:"0216逆向管理",voiceUrl:"http://l.na.ppsrc.com/5jPhd7wbS2DHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"0215-99%的人一看就会的理财书",voiceUrl:"http://l.na.ppsrc.com/Z-Xb6AmtdYDHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0214爱的五种语言",voiceUrl:"http://l.na.ppsrc.com/zTgDTRL3XanHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0213所谓情商高，就是会说话",voiceUrl:"http://l.na.ppsrc.com/XV3lxZ-aDRPHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0212指导生活的算法",voiceUrl:"http://l.na.ppsrc.com/32nFq4Z2HPvHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0211重塑心灵",voiceUrl:"http://l.na.ppsrc.com/hUvNYMtKKXrHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"0210创始人",voiceUrl:"http://l.na.ppsrc.com/sJwmcQnLMeTHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0209平均的终结",voiceUrl:"http://l.na.ppsrc.com/7XVy-MQPSADHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0208好好说话2",voiceUrl:"http://l.na.ppsrc.com/QvLIZWur44PHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0207好好说话1",voiceUrl:"http://l.na.ppsrc.com/mSjFGGIbBg3HrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0206转行",voiceUrl:"http://l.na.ppsrc.com/oBJ3J8DhpxPHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0205人情与面子",voiceUrl:"http://l.na.ppsrc.com/GWcdMEjmNOXHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0204你为什么而工作",voiceUrl:"http://l.na.ppsrc.com/QthhiLJp9fHHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0203落差",voiceUrl:"http://l.na.ppsrc.com/AnqW_wHxwFHHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"2.2哈佛中国史6",voiceUrl:"http://l.na.ppsrc.com/0XF5cRapsNfHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
				    {bookName:"2.1哈佛中国史5",voiceUrl:"http://l.na.ppsrc.com/AQhtmuFSLfzHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"}
					
				]
			},
		    created:function () {

		    	    var dt = localStorage.getItem("Mtime");
		    	    console.log(dt)
			        var data = new Date();
			        var regeditTime = data.getTime();
			       
			        if(dt==null){
			        	localStorage.setItem("Mtime",regeditTime);
			        }
			        else{
			        	var nowT= data.getTime();
			        	pastT=nowT-dt;
			        	//432000000毫秒=5天
			        	if(pastT<=432000000){
			//           alert(pastT);
			//           alert("没过期");
			        	}else{
			            this.isShowCodePopUp=true;
					             
			        	}
			        }
		    },
			methods:{
				   allArticle:function(url){
				   	  var articleDetail="articleDetail.html"+"?"+"articleUrl="+url
				   	  window.location.assign(articleDetail); 
				      console.log(articleDetail)
				   },
				   playBook:function(voiceUrl){
				   	  this.isShowPlay=true;
				   	  this.voiceUrl=voiceUrl;
				   },
				   activate:function(){
				   	var dd=this.theKey;
					for(i=0;i<dd.length;i++){
				   
				    	if(dd.charAt(0)=='y'&&dd.charAt(1)=='x'&&dd.charAt(dd.length-1)=="f"){
				//  		alert("22")
				          localStorage.setItem("Mtime","9904624053231");
				           this.isShowCodePopUp=false;
				    		
				    	}
				    }
				   }
			}
		});
		}
	</script>
</body>

</html>

