<!DOCTYPE html>

<html>

<head>

<meta charset="utf-8"/>

<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>

<meta name="misapplication-tap-highlight" content="no"/>

<meta name="HandheldFriendly" content="true"/>

<meta name="MobileOptimized" content="320"/>
<link rel="stylesheet" type="text/css" href="../css/vip.css" />
<script type="text/javascript" src="../js/jquery-3.1.1.min.js" ></script>
<script type="text/javascript" src="../js/vue.min.js" ></script>

<title>每天听本书</title>



</head>

<body>
	<div id="everyDayLesson" class="splitByMonth">
		<div class="top-head"><a href="#" onClick="javascript :history.back(-1);"><span></span></a>每天听本书</div>
		<div class="title"><span></span>按月查询</div>
		<ul>
			<li><a href="dayABook10.html">10月</a></li>
			<li><a href="dayABook9.html">9月</a></li>
			<li><a href="dayABook8.html">8月</a></li>
			<li><a href="dayABook7.html">7月</a></li>
			<li><a href="dayABook6.html">6月</a></li>
			<li><a href="dayABook5.html">5月</a></li>
			<li><a href="dayABook4.html">4月</a></li>
			<li><a href="dayABook3.html">3月</a></li>
			<li><a href="dayABook2.html">2月</a></li>
			<li><a href="dayABook1.html">2017年1月</a></li>
			<div class="clearfix"></div>
		</ul>
		<div class="book-detail" v-for="book in books">
			<div class="book-image"><img src="../img/book-default.jpg"></div>
			<div class="book-right-content"> 
				<div class="book-title">{{book.bookName}}</div>
				<div class="book-info">{{book.info}}</div>
				<div class="book-time" @click="allArticle(book.url)">查看全文<span>{{book.time}}</span></div>
				<div class="play-button" @click="playBook(book.voiceUrl)">播放</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="bottom-content" v-if="isShowPlay">
			<audio autoplay="autoplay" controls="controls"loop="loop" preload="auto"
            v-bind:src="voiceUrl">

            </audio>

		</div>
	
		
		<div   v-if="isShowCodePopUp" style="position: fixed;width: 100%;height: 100%;background: #000; filter:alpha(Opacity=50); opacity: 0.5;top: 0;"></div>
		<div  class="popup" v-if="isShowCodePopUp"> 
		   <div class="content"> 
		   	<div class="head">糟糕了！好像过期了</div>
		   	<div class="info"> 
		   		<div class="the-info-content">分享到朋友圈获得38个赞联系微信18358597258获取！！</div>
		   		
		   		<input v-model="theKey" />
		   		<div class="confirm-button" @click="activate()">输入激活码</div>
		   	</div>  
		   </div>
		</div>	
		
	</div>
	
	
	
	<script>
		window.onload = function(){
		var everyDayLessonApp = new Vue({
			el:'#everyDayLesson',
			data:{
				isShowPlay:false,
				isShowCodePopUp:false,
				theKey:'',
				voiceUrl:'',
				books:[
				    { bookName:"0331枪炮、病菌与钢铁",voiceUrl:"http://l.na.ppsrc.com/zMhJZ2EJDFrHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"0330我的情绪为何总被他人左右",voiceUrl:"http://l.na.ppsrc.com/4ctBorCh8SLHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0329颠覆式创新",voiceUrl:"http://l.na.ppsrc.com/Cz-XFAatPLTHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0328管理十诫",voiceUrl:"http://l.na.ppsrc.com/IF8ex4XRx_fHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0327横向领导力",voiceUrl:"http://l.na.ppsrc.com/XrshrFOepLTHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0326直觉",voiceUrl:"http://l.na.ppsrc.com/uuT5IEqdphbHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"0325文明之光2",voiceUrl:"http://l.na.ppsrc.com/IEERcVFisKHHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0324文明之光",voiceUrl:"http://l.na.ppsrc.com/2v806p59cZfHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0323控制愤怒",voiceUrl:"http://l.na.ppsrc.com/kt1SXMnJRpbHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0322鞋狗",voiceUrl:"http://l.na.ppsrc.com/-GmgvZNvfCfHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0321微创新",voiceUrl:"http://l.na.ppsrc.com/G5BF89kwDMPHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0320无价）",voiceUrl:"http://l.na.ppsrc.com/hAUEZLWW56HHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
				    { bookName:"0319天才地理学",voiceUrl:"http://l.na.ppsrc.com/BTAJlV5c3tTHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"0318菊与刀",voiceUrl:"http://l.na.ppsrc.com/Ai900RrNDk_HrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0317明智的行动艺术",voiceUrl:"http://l.na.ppsrc.com/OnW5IyHixKzHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0316超级思维",voiceUrl:"http://l.na.ppsrc.com/qWbjL39ZNaXHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0315富爸爸投资指南",voiceUrl:"http://l.na.ppsrc.com/-LtHErGEAM7HrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0314与乔布斯一起领导苹果",voiceUrl:"http://l.na.ppsrc.com/fVMvwssVncDHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"0313坚持,一种可以养成的习惯",voiceUrl:"http://l.na.ppsrc.com/PxOZvD8gaLTHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0312人性的弱点",voiceUrl:"http://l.na.ppsrc.com/MIWgqTJvfBPHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0311世界第一好懂的哲学课",voiceUrl:"http://l.na.ppsrc.com/-0olqDABb5LHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0310心灵的七种兵器",voiceUrl:"http://l.na.ppsrc.com/8qbmumZh39DHrOczY7uuTg",url:"",info:"这个一本书啊啊啊",time:"12：00"},
					{bookName:"0309百岁人生长寿时代的生活工作",voiceUrl:"http://l.na.ppsrc.com/ltmCcLKcoKDHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0308巴比伦最富有的人",voiceUrl:"http://l.na.ppsrc.com/HRQaxcD-fXnHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0307学会花钱",voiceUrl:"http://l.na.ppsrc.com/WGtGqYdofUDHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0306从行动开始",voiceUrl:"http://l.na.ppsrc.com/Y9EXMUpm_MTHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0305温暖的孩子",voiceUrl:"http://l.na.ppsrc.com/c9bj18oOcNfHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0304-1493",voiceUrl:"http://l.na.ppsrc.com/ope-LQbLyIHHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0303伯罗奔尼撒战争2",voiceUrl:"http://l.na.ppsrc.com/_gJ5qHOXJHfHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0302伯罗奔尼撒战争1",voiceUrl:"http://l.na.ppsrc.com/7oo2t-uo0gPHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
					{bookName:"0301巴菲特法则",voiceUrl:"http://l.na.ppsrc.com/6m3P2rO3yoDHrOczY7uuTg",url:"",info:"这家伙很懒暂时没有写相关说明",time:""},
				   
				]
			},
		    created:function () {

		    	    var dt = localStorage.getItem("Mtime");
		    	    console.log(dt)
			        var data = new Date();
			        var regeditTime = data.getTime();
			       
			        if(dt==null){
			        	localStorage.setItem("Mtime",regeditTime);
			        }
			        else{
			        	var nowT= data.getTime();
			        	pastT=nowT-dt;
			        	//432000000毫秒=5天
			        	if(pastT<=432000000){
			//           alert(pastT);
			//           alert("没过期");
			        	}else{
			            this.isShowCodePopUp=true;
					             
			        	}
			        }
		    },
			methods:{
				   allArticle:function(url){
				   	  var articleDetail="articleDetail.html"+"?"+"articleUrl="+url
				   	  window.location.assign(articleDetail); 
				      console.log(articleDetail)
				   },
				   playBook:function(voiceUrl){
				   	  this.isShowPlay=true;
				   	  this.voiceUrl=voiceUrl;
				   },
				   activate:function(){
				   	var dd=this.theKey;
					for(i=0;i<dd.length;i++){
				   
				    	if(dd.charAt(0)=='y'&&dd.charAt(1)=='x'&&dd.charAt(dd.length-1)=="f"){
				//  		alert("22")
				          localStorage.setItem("Mtime","9904624053231");
				           this.isShowCodePopUp=false;
				    		
				    	}
				    }
				   }
			}
		});
		}
	</script>
</body>

</html>

